# Local development: point to local backend
# VITE_API_URL=http://localhost:3001
# VITE_WS_URL=http://localhost:3001

# Production hosting: point to hosted Render backend
VITE_API_URL=https://inventory-management-system-r3iz.onrender.com
VITE_WS_URL=https://inventory-management-system-r3iz.onrender.com
